# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  python.buildVersion: '3.8'

  major: 8
  minor: $[counter(variables.major, 0)]
  buildVersion: $[format('{0}.{1}', variables.major, variables.minor)]

  isPullRequest: $[eq(variables['Build.Reason'], 'PullRequest')]

name: '$(buildVersion)'

jobs:
  - job: Test
    strategy:
      matrix:
        Python38:
          python.version: '3.8'
        Python39:
          python.version: '3.9'
        Python310:
          python.version: '3.10'
        Python311:
          python.version: '3.11'
        Python312:
          python.version: '3.12'
        Python313:
          python.version: '3.13'

    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '$(python.version)'
      displayName: 'Use Python $(python.version)'

    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      displayName: 'Install dependencies'

    - script: |
        pip install pytest pytest-azurepipelines
      displayName: 'Install pytest'

    - script: |
        pytest canopy
      displayName: 'pytest canopy'

    - script: |
        pytest integration_tests
      condition: succeeded()
      displayName: 'pytest integration_tests'
      env:
        CANOPY_PYTHON_INTEGRATION_TEST_CREDENTIALS: $(CanopyPythonIntegrationTestCredentials)

  - job: Build
    dependsOn: Test
    condition: and(succeeded(), eq(variables['isPullRequest'], 'False'))

    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '$(python.buildVersion)'
      displayName: 'Use Python $(python.buildVersion)'

    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install build
      displayName: 'Install dependencies'

    - script: |
        sed -i -e "s/version = \"0\.1\.1\"/version = \"$BUILDVERSION\"/" pyproject.toml
        cat pyproject.toml
      displayName: 'Update version'

    - script: |
        python -m build
      displayName: 'Artifact creation'

    - script: |
        pip install twine
      displayName: 'Install twine'

    - task: TwineAuthenticate@1
      inputs:
        pythonUploadServiceConnection: 'PyPI'

    #- script: |
    #    cat $(PYPIRC_PATH)
    #  displayName: 'Output PYPIRC'

    - script: |
        twine upload --config-file $(PYPIRC_PATH) dist/* -r pypi
      displayName: 'Upload package'
