# coding: utf-8

"""
    Canopy.Api

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from canopy.swagger.api_client import ApiClient


class EndToEndTestInboxApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def end_to_end_test_inbox_get_latest_message_and_clear_mailbox(self, mailbox_name, **kwargs):  # noqa: E501
        """end_to_end_test_inbox_get_latest_message_and_clear_mailbox  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.end_to_end_test_inbox_get_latest_message_and_clear_mailbox(mailbox_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str mailbox_name: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.end_to_end_test_inbox_get_latest_message_and_clear_mailbox_with_http_info(mailbox_name, **kwargs)  # noqa: E501
        else:
            (data) = self.end_to_end_test_inbox_get_latest_message_and_clear_mailbox_with_http_info(mailbox_name, **kwargs)  # noqa: E501
            return data

    def end_to_end_test_inbox_get_latest_message_and_clear_mailbox_with_http_info(self, mailbox_name, **kwargs):  # noqa: E501
        """end_to_end_test_inbox_get_latest_message_and_clear_mailbox  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.end_to_end_test_inbox_get_latest_message_and_clear_mailbox_with_http_info(mailbox_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str mailbox_name: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['mailbox_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method end_to_end_test_inbox_get_latest_message_and_clear_mailbox" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'mailbox_name' is set
        if ('mailbox_name' not in params or
                params['mailbox_name'] is None):
            raise ValueError("Missing the required parameter `mailbox_name` when calling `end_to_end_test_inbox_get_latest_message_and_clear_mailbox`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'mailbox_name' in params:
            path_params['mailboxName'] = params['mailbox_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/test-mailboxes/{mailboxName}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
